1. No module named 'psycopg'
==> Application exited early
==> Common ways to troubleshoot your deploy: https://render.com/docs/troubleshooting-deploys
==> Running 'python -m waitress --listen=0.0.0.0:$PORT main:app'
Error: No module named 'psycopg'
Usage:
