{% extends "base/layout.html" %}
{% block title %}リサーチナビ - トップページ{% endblock %}
{% block content %}

<div class="text-center mt-5">
  <h1>🔍 リサーチナビ</h1>
  <p>最強のせどり支援ツールへようこそ！</p>

  <!-- マスコット画像 -->
  <img src="{{ url_for('static', filename='img/hero_main.jpg') }}" alt="マスコット画像" class="img-fluid my-4" style="max-width: 300px;">

  <!-- ボタン -->
  <div class="mt-3">
    <a href="{{ url_for('login_bp.login') }}" class="btn btn-primary mx-2">ログイン</a>
    <a href="{{ url_for('register_bp.register') }}" class="btn btn-success mx-2">新規登録</a>
  </div>
</div>

{% endblock %}
