{% extends "base/layout.html" %}
{% block title %}登録ユーザー一覧{% endblock %}

{% block content %}
<h1>👥 登録ユーザー一覧</h1>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    {% for key in users[0].keys() %}
      <th>{{ key }}</th>
    {% endfor %}
    <th>操作</th>
  </tr>
  {% for user in users %}
    <tr>
      {% for val in user.values() %}
        <td>{{ val }}</td>
      {% endfor %}
      <td><a href="#">編集</a></td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
