<nav class="nav">
  <a href="{{ url_for('home') }}">ホーム</a>
  <a href="{{ url_for('search') }}">商品検索</a>
  <a href="{{ url_for('profit') }}">利益計算</a>
  <a href="{{ url_for('history') }}">履歴</a>
  <a href="{{ url_for('ranking') }}">ランキング</a>
  <a href="{{ url_for('notifications') }}">通知</a>
  <a href="{{ url_for('ocr') }}">OCR</a>
  <a href="{{ url_for('suppliers') }}">仕入れ先</a>
  <a href="{{ url_for('setting') }}" class="strong">設定</a>
　 <a href="/guide">📘 使い方</a> |
   <a href="/logout" style="float:right;">🚪 ログアウト</a>
　</nav>
